* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --sizeOfLink: 15vw;
    --primaryBlueColor : #4a50ff;
    --darkerPrimaryBlueColor : #3730ab;
    --white : #ffffff;
    --black : #121212;
    --grey : #696969;
    --greyWhite : #A9A9A9;
    --titleFont : "Poppins Medium";
    --subTitleFont : "Poppins Regular";
}

body {
    background-color: var(--black);
}

a {
    text-decoration: none;
}