* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --sizeOfLink: 20vw;
    --whiterPrimaryBlueColor : #b3d0ff;
    --primaryBlueColor : #6ba4ff;
    --darkerPrimaryBlueColor : #1972ff;
    --white : #ffffff;
    --black : #121212;
    --greyBlack :#303030; 
    --grey : #696969;
    --greyWhite : #A9A9A9;
    --titleFont : "Poppins Medium";
    --subTitleFont : "Poppins Regular";
    --paraFont : "Poppins Light";
}

body {
    background-color: var(--black);
}

a {
    text-decoration: none;
}