/* Header Css 
* 
* Variables:
*
*/

/*Header settings :*/ 
header {
    position: relative; 

    width: 100%; 
    height: 110px;
    display : flex;

    font-family : var(--subTitleFont);

    /*Header image settings*/
    a {
        width : var(--sizeOfLink);
        height: auto;
        display : flex; 
        justify-content: center;
        align-items: center;
        color: var(--white);

        img {
            height: 60px; 
            width: auto;
        }
        
    }

    /*Header navigation bar settings*/
    nav {
        margin: auto;
        width: auto; 
        
        ul {
            display : flex; 
            justify-content: space-between;
            
            li {                
                list-style-type: none;

                a {
                    text-decoration: none;
                    color: var(--white);
                }
            }

            li + li {
                padding-left: 1vw;
            }
        }
    }

}

.form-english {
    display : flex; 
    justify-content: center;
    align-items: center;
 
    width: var(--sizeOfLink);

    button {
        border: none;
        background: none;
        
        p {
            cursor: pointer;
            font-family : var(--subTitleFont);
            color : var(--white);
        }
    }
}

/*Login button animation*/
.form-animation {
    box-shadow: inset 0 0 0 0 var(--primaryBlueColor);
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}

.form-animation:hover {
    box-shadow: inset var(--sizeOfLink) 0 0 0 var(--primaryBlueColor);
    color: var(--white);
}

/*Sidebar and burger menu not displaying at first*/
#burger-menu {
    display : none; 
}

#sidebar {
    display : none; 
}

/*Media queries*/
@media screen and (max-width: 768px) {
    :root {
        --sizeOfLink: 20vw; 
    }

    /*Settings for responsive*/
    header {
        height: 90px;
        justify-content: space-between;
        
        a {
            img {
                height: 40px; 
                width: auto;
            }
        }

        nav {
            display : none; 
    
            
        }
    
        .login-animation {
            display : none; 
        }
    }
    
    .form-display {
        display : none; 
    }

    /*Burger menu settings*/
    #burger-menu {
        width: var(--sizeOfLink);
        height: auto;

        display : flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }

    #burger {
        display : inline; 
        width : 35px;
        height: auto;
        
        span {
            display : block;
            width : 100%;
            height: 3px;
            background-color: var(--white);
            border-radius: 5px; 
        }
        
        span + span {
            margin-top: 7px;
        }
    }

    /*Sidebar settings*/
    #sidebar {
        display : none;

        position : fixed;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100vh;

        background-color: var(--primaryBlueColor);

        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
            list-style-type: none;
        }

        li {
            width: 100vw;
            height: 10vh; 

            display : flex;
            justify-content: center;
            align-items: center;

            box-shadow: inset 0 0 0 0 var(--primaryBlueColor);
            transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
        }

        li:hover {
            box-shadow: inset 100vh 0 0 0 var(--darkerPrimaryBlueColor);
            color: var(--white);
        }

        a {
            width: 100vw;
        }
    }

    /*Second header settings*/
    #new-header {
        position : absolute; 
        top: 0;
        right: 0;
        width : 100vw;
        height : 9vh;

        display : flex;
    }

    /*Close menu settings*/
    #close-menu {
        display: flex;
        align-items: center;
        justify-content: center;

        position : absolute;
        top: 0;
        right: 0;
        height : 9vh;
        width : var(--sizeOfLink);

        img {
            width: 35px;
            height: auto;
            cursor: pointer;
        }
    }
}