main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

    h1 {
        padding-top : 20px;
        font-family: var(--titleFont);
        color : var(--white);
        font-size: clamp(15px, 2vw, 30px);
    }

    article {
        width: 80vw;
        section {
            display: flex;
            justify-content: center;
            img {
                width : 60vw; 
                height: auto;
            }

            p {
                padding-top : 20px;
                font-family: var(--subTitleFont);
                color: var(--grey);
            }


            hgroup {
                text-align: center;
    
                h2 {
                    padding-top : 5px;
                    font-family: var(--subTitleFont);
                    font-size: clamp(12px, 1.5vw, 20px);
                    color : var(--greyWhite);
                }

                h3 {
                    font-size : clamp(11px, 1.2vw, 15px);
                    font-family : var(--paraFont);
                    a {
                        text-decoration : none;
                        color : var(--grey);
                    }
                }

            }

        }
    }

    .article-section {
        display : block;

        p {
            font-size : clamp(11px, 1.2vw, 15px);
            padding-top : 20px;
            font-family: var(--paraFont);
            color: var(--white);
        }
    }
}