.article-creator {
    display: none;
    width: 90vw;
    height: 600px;
    background-color: var(--greyBlack);
    padding : 20px;
    border-radius: 20px;

    h1 {
        color : var(--white);
        /* font-size: 2rem; */
        font-size: clamp(1rem, 5vw, 2rem);
        font-family: var(--titleFont);
    }

    label {
        color : var(--white);
        font-family: var(--paraFont);
    }
}