section {
    form {
        button {
            p {
                color : var(--white);
            }
        }
        
        p {
            color : var(--red);
            font-family : var(--paraFont);
        }
    }
}